*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures

*.apk
*.ap_
*.dex
*.class
bin/
gen/
local.properties
.classpath
.project
proguard/
*.ipr
*.iws
app/build/

.idea/*.xml

# User-specific configurations
.idea/caches/build_file_checksums.ser
.idea/codeStyles/
.idea/compiler.xml
.idea/copyright/profiles_settings.xml
.idea/dictionaries/
.idea/libraries/
.idea/misc.xml
.idea/modules.xml
.idea/tasks.xml
.idea/scopes/scope_settings.xml
.idea/workspace.xml
.idea/.name
*.iml
app/develop/release/output.json